<!DOCTYPE html>
<html style="overflow: hidden">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Nihal.tv</title>
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->

        <link rel="stylesheet" href="styles/styles.css">

        <!--fullpage-->
        <link rel="stylesheet" href="fullpage/fullpage.css">

        <!--firebase auth ui-->
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
        
        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Nunito|Roboto+Condensed|Yantramanav&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class = "container" id="app">

            <div v-bind:class="[displayLoader ? 'loader-active' : 'loader-inactive']">
                <div class="loader">Loading...</div>
            </div>

            <div class="navbar" v-bind:class="[ watch ? 'invisible' : 'visible' ]">

                    
                <div class="nav-inner">
                    <ul class="nav-left">
                        <li @click="{ $refs.fullpage.api.moveTo(1) }" v-bind:class="[!currentTab ? 'active' : '']">Film</li>
                        <li @click="{ }">Photo</li>
                        <li @click="{ $refs.fullpage.api.moveTo(items.length + 2) }" v-bind:class="[currentTab ? 'active' : '']" class="contact-link">Contact</li>
                    </ul>

                    <ul class="nav-right">
                        <li><a href="https://www.imdb.com/name/nm7577022/?ref_=nv_sr_srsg_0" target="_blank"><div class="social-link imdb"></div></a></li>
                        <li><a href="https://vimeo.com/nihaldantluri" target="_blank"><div class="social-link vimeo"></div></a></li>
                        <li><a href="https://www.instagram.com/nihal_dantluri/" target="_blank"><div class="social-link instagram"></div></a></li>
                    </ul>
                </div>
            </div>
            

            <div>
                <full-page ref="fullpage" :options="options" id="fullpage" :skip-init="true">
                    <!-- static hero section -->
                    <div class="section hero-section">
                        <video loop data-autoplay muted>
                            <source :src="items[2].finalFilm + '#t=85'" type="video/mp4" />
                        </video>
                        <div @click="toggleWatch()" v-bind:class="[watch ? 'vid-window-active' : 'vid-window-inactive']">
                            <div class="vid-container">
                                <video controls autoplay v-bind:muted="!watch">
                                    <source :src="items[2].finalFilm + '#t=0'" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                        <div class="layer-main">
                            <h1 class="hero-header">NIHAL DANTLURI</h1>
                            <p style="margin-bottom: 18px">Director of Photography</p>
                            <div class="hero-buttons">
                                <button class="next" @click="$refs.fullpage.api.moveSectionDown()">View Work<!--div class="arrow"></div--></button>
                                <button class="watch" @click="toggleWatch()">View Reel</button>
                            </div>
                        </div>
                    </div>
                    <!-- dynamic project sections -->
                    <div class="section" v-for="(i, index) in items">
                        <video loop data-autoplay muted v-bind:class="[ infoActive ? 'blur' : '' ]">
                            <source :src="i.finalFilm + '#t=85'" type="video/mp4" />
                        </video>
                        <div @click="toggleWatch()" v-bind:class="[watch ? 'vid-window-active' : 'vid-window-inactive']">
                            <video controls autoplay v-bind:muted="!watch">
                                <source :src="i.finalFilm + '#t=0'" type="video/mp4" />
                            </video>
                        </div>
                        <div class="layer" v-bind:class=" enter ? 'shadow-active' : 'shadow-inactive' ">
                            <div v-bind:class=" infoActive ? 'layer-left-active' : 'layer-left' ">
                                <div v-bind:class="[ enter ? 'enter' : 'exit' ]">
                                    <h1>{{i.title}}</h1>
                                    <p class="genre">{{i.genre}}</p>
                                    <p class="summary">{{i.summary}}</p>
                                    <button class="watch" @click="toggleWatch()">Watch film</button>
                                </div>
                            </div>
                            <button class="info" @click="toggleInfo()">{{ infoAmount }}<div v-bind:class="[infoActive ? 'arrow-down' : 'arrow' ]"></div></button>
                        </div>
                        <div class="more-info" v-bind:class="[infoActive ? 'more-info-active' : 'more-info-inactive' ]">
                            <ul style="display: inline-flex; list-style: none; padding: 0px" class="images" :id="'images' + index">
                                <li v-for="(p, index) in i.screenGrabs">
                                    <img style="width: 260px" :src="p" :id="'shot' + index" />
                                </li>
                            </ul>
                            <br>
                            <div class="credits">
                                <p class="credit" style="display: inline-flex" v-for="(c, index) in i.credits"><span>{{c.role}}</span>&nbsp;<strong>{{c.name}}</strong>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <!-- static contact footer -->
                    <div class="section contact-footer">
                        <div class="contact-section section-left">
                            <div class="bio-content">
                                <div class="portrait-img"></div>
                                <h1>NIHAL DANTLURI</h1>
                                <p class="genre">Director of Photography</p>
                                <p class="summary bio">Nihal Dantluri resides in Chicago, Illinois, and works in the film industry locally in the Camera Department. He dreams of becoming a Cinematographer due to how he greatly enjoys the visual storytelling aspect of filmmaking. He also enjoys working other positions in the Camera Department, and the challenges each job presents.</p>
                            </div>
                            <form class="contact-form" @submit.prevent="sendEmail">
                                <label>Name</label>
                                <br>
                                <input type="text" name="from_name">
                                <br>
                                <label>Email</label>
                                <br>
                                <input type="email" name="user_email">
                                <br>
                                <label>Subject</label>
                                <br>
                                <input type="text" name="subject_html">
                                <br>
                                <label>Project Description</label>
                                <br>
                                <textarea name="message_html"></textarea>
                                <br>
                                <input class="email-submit" type="submit" value="Send">
                            </form>
                        </div>
                        <div class="foot"><p>Coded with <span class="love">♡</span> by <a href="https://tbrew1023.github.io/portfolio-v2" target="_blank">Trent Brew</a></p></div>
                    </div>
                </full-page>
            </div>

            <!--div class="section-right">

                <ul class="list-group">
                    <li class="list-group-item project-item" v-for="(i, index) in items">
                        <div class="vid-section">
                            <video controls autoplay muted width="600">
                                <source :src="i.finalFilm" type="video/mp4" />
                            </video>
                            <div class="vid-text">
                                <h1>{{i.title}}</h1>
                                <strong><p style="opacity:0.5">{{i.genre}}</p></strong>
                                <p style="width:512px">{{i.summary}}</p>
                            </div>
                        </div>
                        <br>
                        <ul style="display: inline-flex; list-style: none; padding: 0px" class="images">
                            <li v-for="(p, index) in i.screenGrabs">
                                <img style="width: 240px" :src="p" />
                            </li>
                        </ul>
                        <br>
                        <p class="credit" style="display: inline-flex" v-for="(c, index) in i.credits"><span>{{c.role}}</span>&nbsp;<strong>{{c.name}}</strong>&nbsp;</p>
                    </li>
                </ul>
            </div-->
        
        </div>

        <!-- Vue -->   
        <script src="https://unpkg.com/vue"></script>
        <!-- firebase -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
        <!-- firestore -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
        <!-- vue-firestore -->   
        <script src="https://unpkg.com/vue-firestore"></script>
        <!-- storage -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-storage.js"></script>
        <!--firebase ui-->
        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
        <!--firebase auth-->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>

        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js">
        </script>
        <script type="text/javascript">
            (function(){
                emailjs.init("YOUR_USER_ID");
            })();
        </script>
        <!-- fullpage-->
        <script src="fullpage/fullpage.js"></script>
        <!-- app -->
        <script src="app.js"></script>
    </body>
</html>