<!DOCTYPE html>
<html style="overflow: hidden">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Nihal Dantluri</title>
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->

        <link rel="icon" type="image/svg" href="res/videocam-24px.svg">

        <link rel="stylesheet" href="styles/styles.css">

        <!--fullpage-->
        <link rel="stylesheet" href="fullpage/fullpage.css">

        <!--firebase auth ui-->
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
        
        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Nunito|Roboto+Condensed|Yantramanav&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class = "container" id="app">

            <div class="data" style="display: none">
                <span>{{ items }}</span>
                <span>{{ bio }}</span>
            </div>

            <div v-bind:class="[displayLoader ? 'loader-active' : 'loader-inactive']">
                <div class="loader">Loading...</div>
            </div>

            <div class="navbar" v-bind:class="[ watch ? 'invisible' : 'visible' ]">

                <div class="nav-inner">
                    <ul class="nav-left">
                        <li @click="{ $refs.fullpage.api.moveTo(1) }" v-bind:class="[!currentTab ? 'active' : '']">Work</li>
                        <a href="photos.html"><li @click="">Photo</li></a>
                        <li @click="{ $refs.fullpage.api.moveTo(items.length + 2) }" v-bind:class="[currentTab ? 'active' : '']" class="contact-link">Contact</li>
                    </ul>

                    <ul class="nav-right">
                        <li><a href="https://www.imdb.com/name/nm7577022/?ref_=nv_sr_srsg_0" target="_blank"><div class="social-link imdb"></div></a></li>
                        <li><a href="https://vimeo.com/nihaldantluri" target="_blank"><div class="social-link vimeo"></div></a></li>
                        <li><a href="https://www.instagram.com/nihal_dantluri/" target="_blank"><div class="social-link instagram"></div></a></li>
                    </ul>
                </div>
            </div>
            

            <div>
                <full-page ref="fullpage" :options="options" id="fullpage" :skip-init="true">
                    <!-- static hero section -->
                    <div class="section hero-section">
                        <video loop data-autoplay muted data-keepplaying>
                            <source :src="filmReel[0].finalFilm + '#t=0'" type="video/mp4" />
                        </video>
                        <div v-bind:class="[watch ? 'vid-window-active' : 'vid-window-inactive']">
                            <div @click="toggleWatch()" class="vid-exit">X</div>
                            <div class="vid-container">
                                <video controls v-bind:muted="!watch">
                                    <source :src="filmReel[0].finalFilm + '#t=0'" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                        <div class="layer-main">
                            <h1 class="hero-header">NIHAL DANTLURI</h1>
                            <p style="margin-bottom: 18px">Director of Photography</p>
                            <div class="hero-buttons">
                                <button class="next" @click="$refs.fullpage.api.moveSectionDown()">View Work<!--div class="arrow"></div--></button>
                                <button class="watch" @click="toggleWatch()">View Reel</button>
                            </div>
                        </div>
                    </div>
                    <!-- dynamic project sections -->
                    <div class="section" v-for="(i, index) in items">
                        <div class="backdrop-container">
                            <video v-if="i.finalFilm" loop data-autoplay data-keepplaying muted v-bind:class="[ infoActive ? 'blur' : '' ]">
                                <source :src="i.finalFilm + '#t=' + i.startTime" type="video/mp4" />
                            </video>
                            <div v-if="!i.finalFilm" class="slideshow" v-bind:class="[ infoActive ? 'blur' : '' ]">
                                <div class="background-screengrab slide" v-for="(s, index) in i.screenGrabs" v-if="index != 0" v-bind:style="{ backgroundImage: 'url(' + s + ')' }"></div>
                            </div>
                        </div>
                        
                        <div v-bind:class="[watch ? 'vid-window-active' : 'vid-window-inactive']">
                            <div @click="toggleWatch()" class="vid-exit">X</div>
                            <video controls v-bind:muted="!watch">
                                <source :src="i.finalFilm + '#t=0'" type="video/mp4" />
                            </video>
                        </div>
                        <div class="layer" v-bind:class=" enter ? 'shadow-active' : 'shadow-inactive' ">
                            <div v-bind:class=" infoActive ? 'layer-left-active' : 'layer-left' ">
                                <div v-bind:class="[ enter ? 'enter' : 'exit' ]">
                                    <h1>{{i.title}}</h1>
                                    <p class="genre">{{i.genre}}</p>
                                    <p class="summary">{{i.summary}}</p>
                                    <button v-if="i.finalFilm" class="watch" @click="toggleWatch()">Watch Film</button>
                                    <button v-if="!i.finalFilm" class="watch watch-inactive" @click="">Film Unavailable</button>
                                </div>
                            </div>
                            <button class="info" @click="toggleInfo()"><span>{{ infoAmount }}</span><div v-bind:class="[infoActive ? 'arrow-down' : 'arrow' ]"></div></button>
                        </div>
                        <div class="more-info" v-bind:class="[infoActive ? 'more-info-active' : 'more-info-inactive' ]">
                            <ul style="display: inline-flex; list-style: none; padding: 0px" class="images" :id="'images' + index">
                                <li v-for="(p, index) in i.screenGrabs">
                                    <img style="width: 260px" :src="p" :id="'shot' + index" />
                                </li>
                            </ul>
                            <br>
                            <div class="credits">
                                <p class="credit" style="display: inline-flex" v-for="(c, index) in i.credits"><span>{{c.role}}</span>&nbsp;<strong>{{c.name}}</strong>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <!-- static contact footer -->
                    <div class="section contact-footer">
                        <div class="contact-section section-left">
                            <div class="bio-content-inner">
                                <div class="bio-content">
                                    <div class="portrait-img" v-bind:style="{ backgroundImage: 'url(' + bio[0].photo + ')' }"></div>
                                    <h1>NIHAL DANTLURI</h1>
                                    <p style="font-size:22px; color: white"><span class="genre">Director of Photography</span><span>&emsp;|&emsp;</span><span class="genre"><strong>Chicago, IL</strong></span></p>
                                    <p class="summary bio">{{ bio[0].text }}</p>
                                </div>
                                <form class="contact-form" @submit.prevent="sendEmail">
                                    <a href="mailto:nihal@nihal.tv" target="_blank"><h4 style="display: inline-flex; line-height: 40px"><div class="contact-icon icon-email"></div>nihal@nihal.tv</h4></a>
                                    <a href="tel:6303605706"><h4 style="display: inline-flex; line-height: 40px"><div class="contact-icon icon-phone"></div>630.360.5706</h4></a>
                                    <h4 class="disabled" style="display: inline-flex; line-height: 40px"><div class="contact-icon icon-cv"></div><a href="#">CV available upon request</a></h4>
                                </form>  
                            </div>
                        </div>
                        <div class="foot"><p>Coded with <span class="love">♡</span> by <a href="https://tbrew1023.github.io/ux-portfolio" target="_blank">Trent Brew</a></p></div>
                    </div>
                </full-page>
            </div>
        
        </div>

        <!-- Vue -->   
        <script src="https://unpkg.com/vue"></script>
        <!-- firebase -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
        <!-- firestore -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
        <!-- vue-firestore -->   
        <script src="https://unpkg.com/vue-firestore"></script>
        <!-- storage -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-storage.js"></script>
        <!-- fullpage-->
        <script src="fullpage/fullpage.js"></script>
        <!-- app -->
        <script src="app.js"></script>
    </body>
</html>